{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
    <h1>Employee List</h1>
    <p>Click here for a quick list of all employees.</p>
    <p><a class="btn btn-lg btn-primary" href="{% url 'staff:list_of_employees' %}" role="button">Quick Name List</a></p>
</div>

<!-- Example row of columns -->
<div class="jumbotron">
    <h1>Add Employee</h1>
    <p>Click here to add employees.</p>
    <p><a class="btn btn-lg btn-success" href="{% url 'staff:add_employee' %}" role="button">Add</a></p>
</div>
{% endblock %}


